# Dependencies
node_modules/

# Production builds
/dist/
/dist-ssr/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editors/OS
.vscode/
.idea/
*.sw?
.DS_Store
Thumbs.db

# Misc
*.local
