@import "./styles/globals.css";
@import "@fontsource/urbanist/400.css";
@import "@fontsource/urbanist/500.css";
@import "@fontsource/urbanist/600.css";
@import "@fontsource/urbanist/700.css";

@layer base {
  :root {
    --font-family-sans: "Urbanist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  body {
    font-family: var(--font-family-sans);
  }
}
